<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TbAdvanced</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-current-user="<%= current_user&.id %>">
<div class="container-fluid">
  <div class="row">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="<%= root_path %>">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= questions_path %>">Questions</a>
            </li>
          </ul>
          <%= form_tag search_searches_path, class: 'form-inline mt-2 mt-md-0' do %>
            <div class="input-group.mb-3">
              <%= select_tag :model, options_for_select(models), class: 'btn btn-outline-secondary dropdown-toggle' %>
              <%= text_field_tag :query, nil, placeholder: 'Search', class: 'form-control mr-sm-2' %>
            </div>
            <%= submit_tag "Search", class: 'btn btn-outline-success my-2 my-sm-0' %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-success' %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="col-md-2 border-right">
      <div class="side-menu border-bottom">
        <p><%= link_to 'Ask a question', new_question_path, class: 'btn btn-primary ask-question' %>
      </div>
      <div class="side-menu list-group border-bottom">
        <%= link_to questions_path, class: 'list-group-item list-group-item-action' do %>
          <span><%= octicon("question") %> Question</span>
          <% end %>
      </div>
      <div class="side-menu ">
        ©2018  <br>
        <a href="https://qaengine.enginethemes.com/term/">Terms &amp; Privacy</a>
      </div>
    </div>
    <div class="col-md-8">
      <% if notice %>
        <p class="notice text-center"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert text-center"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-md-2 border-left">
      test
    </div>
  </div>
</div>
</body>
</html>
